.add-post-form {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .add-post-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-post-form .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .add-post-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-post-form input,
  .add-post-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .add-post-form textarea {
    resize: vertical; /* Allows vertical resizing for textarea */
  }
  
  .add-post-form button {
    padding: 10px 20px;
    background-color: #2540ac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-post-form button:hover {
    background-color: #1a2b7d; /* Darker shade on hover */
  }
  