.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #2540ac;
  padding: 0 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.navbar a:first-child {
  margin-left: 0;
}

.navbar-icon {
  width: 40px;
  height: 40px;
}
