.post-detail-page {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.post-author {
  margin-top: 20px;
  font-style: italic;
  color: #555;
}

.comments-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.comments-section h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.comment-card {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment-card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  margin-top: 0px;

}

